<li>
  <h3>{{announcement.title}}</h3>
  <h4>{{announcement.admin}} | {{announcement.date}}</h4>
  <p>{{announcement.body}}</p>
  <button {{action 'delete' announcement}}>Delete</button>
  <hr>
</li>
