<h4>Location: {{fullLocation}}</h4>

<hr>

<p>Rentals available in {{city.name}}:</p>
<ul>
  {{#each sortedRentals as |rental|}}
    {{rental-tile rental=rental}}{{rental-cost rental}}
  {{/each}}
</ul>
<hr>
<button class="btn btn-danger btn-sm" {{action 'destroyCity' city}}>Delete City</button>
