<h3>{{city.name}} is located in {{city.country}}</h3>

<hr>

<p>Rentals available in {{city.name}}:</p>
<ul>
  {{#each city.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>
<hr>
<button class="btn btn-danger btn-sm" {{action 'destroyCity' city}}>Delete City</button>
