<h2 class="lead">Located in {{rental.city.name}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}.</h2>
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>
<button {{action 'delete' rental}} class="btn btn-danger btn-xs">Delete</button>
